#dropzone {
	background-color: #fff;
	color: #444;
	min-height: 50px;
	padding: 50px 0px;
    font-size: 16px;
	text-shadow: 1px 1px 0 #fff;
    text-align:center;
    margin: 10px 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#dropzone.dropover {
	background-color: #ddd;
}

#main {
    background-color: #fff;;
    color: #444;
    padding: 1px 0px 10px;
    margin: 0 0 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#how {
    background-color: #fff;
    color: #444;
    padding: 1px 0px 10px;
    margin: 0 0 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#tweet {
    background-color: #fff;
    color: #444;
    padding: 1px 0px 10px;
    margin: 0 0 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.fs-18{
    font-size: 18px;
}

#main > .btn {
    margin: 20px 10px 10px;
    float: left;
}

#caution{
    margin: 20px 0 10px;
    padding: 4px;
    width: 720px;
    font-size: 14px;
    float: left;
}

#stopper {
    clear: both;
}

#header {
    background-color: #ec1614;
}

.main-header {
    background-color: #f46264;
}

.title {
    font-size: 18px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    padding: 15px;
    color: #fff;
}

.head{
    padding: 10px 15px;
}

#footer {
    text-align:center;
    color: #b1b0ae;
    padding: 10px 0;
}

a:link, a:visited, a:hover, a:active {
  color: #888;
}

body {
    background-color: #f1f1f1;
    height:100%;
    font-family: Verdana, Arial;
    font-size: 16px;
    margin: 0;
}

body > #container{
	height: auto;
}

#container {
    min-height: 100%;
    height: 100%;
    width: 960px;
    margin: 0 auto;
    padding: 0 0px;
    background-color: transparent;
}

p {
    color: #444444;
    margin: 10px;
    font-size: 16px;
}

.btn {
	background-color: #1b95e0;
	height: 28px;
	border-radius: 4px;
	padding: 1px 10px 1px 9px;
	position: relative;
	box-sizing: border-box;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	vertical-align: top;
}

.btn i {
	position: relative;
	top: 4px;
	height: 18px;
	width: 18px;
	display: inline-block;
	background: transparent 0 0 no-repeat;
	background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E);
}

#btn-txt {
	color: #fff;
	text-decoration: none;
	margin-left: 4px;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
	padding-top: 4px;
}
